@{
    ViewBag.Title = "Referral Program";
}

    <div class="ref-container">

        <div class="ref-banner ">
            <p>As a “Thank You” for referring us to a family member, friend, neighbor or co-worker, we will reward you. After we complete a cleaning for your referral, we will send you a “Erich’s Carpet Care Bucks” certificate which is redeemable for $20 off your next cleaning. Feel free to keep referring and collect as many certificates as you like.</p>
            <img class="ref-ticket" src="~/Content/images/referral ticket.jpg" />
        </div>
        
    </div>
