
@{
    ViewBag.Title = "Area Rug Cleaning";
}

<div class="carpet-container" style="height: 60em;">
    <div class="carpet-banner" >
        <p>
            Depending on soil level, area rugs can be cleaned in your home or if needed, can be taken with us to clean and deliver back to you at a later date.
        </p>
        <div class="gallery-container-double">
            <img class="carpet-gallery-picture-left" src="~/Content/images/IMG_0067.jpg" />
            
            <img class="carpet-gallery-picture-right" src="~/Content/images/IMG_1902.jpeg" />
        </div>
        <div class="gallery-container-double" style="height: 240px;">
            <img class="carpet-gallery-picture-left" src="~/Content/images/IMG_1980.JPG" />
            <img class="carpet-gallery-picture-right" style="height: 75%;" src="~/Content/images/IMG_1973.jpg" />
        </div>



    </div>
</div>


