
@{
    ViewBag.Title = "Carpet Cleaning";
}
<div class="carpet-container">
    <div class="carpet-banner">
        <p>
            Erich’s Carpet Care is an IICRC certified firm that strives to provide our customers with quality, professional workmanship. Our use a state-of-the-art van mounted HWE (Hot Water Extraction) cleaning system. This is commonly referred to “steam cleaning”. The HWE method is required by most manufacture’s warranties, including Shaw Industries and Mohawk, which are the world’s leading manufactures of carpets.

            *If interested in having a carpet protector reapplied please refer to FAQs section.
        </p>
        <div class="gallery-container-double">

            <div>
                <img class="carpet-gallery-picture-left" src="~/Content/images/erich_thumbnail_IMG_1988.jpg" />
            </div>
            <div>
                <img class="carpet-gallery-picture-right" src="~/Content/images/erich_thumbnail_IMG_1987.jpg" />
            </div>
        </div>
        <div class="gallery-container-double">

            <div>
                <img class="carpet-gallery-picture-left" src="~/Content/images/IMG_1142.jpg" />
            </div>
            <div>
                <img class="carpet-gallery-picture-right" src="~/Content/images/IMG_1961.jpg" />
            </div>
        </div>
        <div class="gallery-container-single">

            <div>
                <img class="carpet-gallery-picture-center" src="~/Content/images/IMG_0766.jpg" />
            </div>
            
        </div>

    </div>
</div>
