
@{
    ViewBag.Title = "FAQ";
}
<div class="faq-container">
    <div class="faq-banner">
        <h2>@ViewBag.Title</h2>

        <h3>What do I need to provide in order to get an estimate?</h3>
        <p class="faq-card">
            (A) Our price is based on the size of the room we are cleaning. In order for us to give an estimate, we will need the room measurements. Please remember this is just an estimate, every situation is different. When we arrive to do the cleaning, we will measure each room again. We only charge for the amount of carpet we are cleaning. So, for example, if a bedroom is 12x12, that is 144 sq feet, but the bed and dressers take up 50 sq feet so our measurement would be 94 sq feet for that room. Our charge would be based on the 94 sq feet we are going to clean.

        </p>
        
        <h3>How often should I clean my carpets?</h3>
        <p class="faq-card">
            (A) Every household is different. All major carpet mills recommend you clean your carpet at least once a year. Carpet cleaning should be done for preventive and health reasons, and not waiting until carpet is over soiled. Waiting too long between cleanings can cause premature wear and some stains to become permanent.

        </p>
        
        <h3>What should I do to prepare for cleaning?</h3>
        <p class="faq-card">
            · Any carpet that we will be cleaning should be thoroughly vacuumed prior to our arrival. Removing the dry soils before we apply any cleaning solution greatly improves the cleaning results.
        </p>
        <p class="faq-card">

            · Another helpful consideration is that we would ask you remove any knick-knacks, breakables, collectibles, vases, lamps, pictures, small end tables and plants out of the areas we’ll be cleaning before we arrive and secure other breakables as well.
        </p>
        <p class="faq-card">

            · Please note that your electronics, pianos, china cabinets, sectional sofas, beds, entertainment centers, aquariums, and antique and fragile furniture cannot be moved by us.
        </p>
        <p class="faq-card">

            · If it is convenient for you, we would appreciate being able to park our van in your driveway or parking lot close to the door where our hoses will be entering.
        </p>
        <p class="faq-card">

            · During inclement weather the driveway, walkway and porch must be free from ice and/or snow.

        </p>




        <h3>I have often heard that it’s best to put off having my carpet cleaned as long as possible. Is that true? Does your cleaning cause my carpets to get dirtier faster?</h3>
        <p class="faq-card">

            (A) No. In fact, many of the major carpet mills today recommend professional carpet cleaning at least once per year. The build-up of soil in your carpet in combination with foot traffic creates abrasion that breaks down your carpet’s fibers. The higher the traffic in a given area, the more often the carpet will need cleaning. Our carpet cleaning systems have been proven to safely remove the most soil, leave no soil attracting residue, and leave your home cleaner and healthier. In fact, our carpet cleaning system is recommended by major carpet mills every 12 months and REQUIRED every 18-24 months to keep the warranties in force.
        </p>

        <h3> How long do I have to wait until I can walk on my clean carpet?</h3>
        <p class="faq-card">

            (A) You will not damage the carpet by walking on it, however it will track up easier while damp. We will provide disposable shoe covers. Please be careful when walking from a freshly cleaned carpeted area to a hard surface as it may be slick. Plan on keeping foot traffic to a minimum for 2-24 hours.

        </p>

        <h3>Do you offer carpet protector?</h3>
        <p class="faq-card">

            (A) Yes, we offer a premium grade carpet protector. The protector is a coating that reseals your carpet fibers and provides a high resistance to water-based stains and soils. Having the carpet protected can enable you to remove stains that would otherwise become permanent. It will prolong the beauty and life of your carpet and it will make better cleaning results possible during your next cleaning.
        </p>

        <h3>Do you need water or electricity to clean my carpets?</h3>
        <p class="faq-card">

            (A) Our cleaning process is self-contained to our van. We do not require any of your water or electricity to operate our system. We do ask that electricity is available to have sufficient lighting and to operate any ceiling fans that may be present. Air movement will decrease dry times.
        </p>
    </div >

</div>