
@{
    ViewBag.Title = "Services";
}


<div class="services-container">
    <div class="services-banner">
        <h1 class="text-center">We are your carpet and stain removal experts! </h1>
        <a href="@Url.Action("CarpetCleaning", "Home")">
            <div class="service-card">
                <h2>Carpet Cleaning</h2>
                <p>
                    <img class="img-thumbnail" src="~/Content/images/IMG_0179.jpg" />
                </p>

            </div>
        </a>

        <a href="@Url.Action("TileAndGrout", "Home")">
            <div class="service-card">
                <h2>Tile and Grout</h2>
                <p>
                    <img class="img-thumbnail" src="~/Content/images/IMG_0151.jpg" />
                </p>

            </div>
            </a>
        
        <a href="@Url.Action("Upholstery", "Home")">
            <div class="service-card">
                <h2>Upholstery</h2>
                <p>
                    <img class="img-thumbnail" src="~/Content/images/IMG_0148.jpg" />
                </p>

            </div>
            </a>

        <a href="@Url.Action("AreaRug", "Home")">
            <div class="service-card">
                <h2>Area Rug</h2>
                <p>
                    <img class="img-thumbnail" src="~/Content/images/IMG_1902.jpeg" />
                </p>

            </div>
            </a>

</div>
</div>
