@{
    ViewBag.Title = "Tile And Grout Cleaning";
}

<div class="carpet-container" style="height: 95em;">
    <div class="carpet-banner">
        <p>
            We scrub all grout lines and follow up by using the SX-12 Turbo System that allows us to deep clean within the grout lines and pores of each tile. We use high quality products that not only break down soil build-up but are safe for your tile floors.
        </p>

        <div class="gallery-container-double">
            <div>
                <img class="carpet-gallery-picture-left" src="~/Content/images/IMG_1009.JPG" />
            </div>
            <div>
                <img class="carpet-gallery-picture-right" src="~/Content/images/IMG_1082.JPG" />
            </div>

        </div>
        <div class="gallery-container-double">
            <div>
                <img class="carpet-gallery-picture-left" style="height: 90%;" src="~/Content/images/IMG_0151.JPG" />
            </div>
            <div>
                <img class="carpet-gallery-picture-right" src="~/Content/images/IMG_1975.JPG" />

            </div>
            <div>
                
                <img class="carpet-gallery-picture-right" style="bottom: 10px; " src="~/Content/images/IMG_1974.GIF" />

            </div>
        </div>
        <div class="gallery-container-single" style="height: 310px;">
            <div>
                <img class="carpet-gallery-picture-center" src="~/Content/images/IMG_1970.JPG" />
            </div>
            
        </div>
    </div>
</div>
