
@{
    ViewBag.Title = "Upholstery Cleaning";
}
<div class="carpet-container">
    <div class="carpet-banner">
        <p>
            We use a low moisture upholstery tool to clean fabrics. We will verify cleanability and use appropriate cleaning solutions. We do not clean leather.
        </p>
        <div class="gallery-container-double">
            <img class="carpet-gallery-picture-left" src="~/Content/images/IMG_0154.JPG" />
            
            <img class="carpet-gallery-picture-right" src="~/Content/images/IMG_0153.JPG" />
        </div>

        <div class="gallery-container-double">
            <img class="carpet-gallery-picture-left" src="~/Content/images/IMG_0149.JPG" />
            <img class="carpet-gallery-picture-right" src="~/Content/images/IMG_0148.JPG" />
        </div>
        <div class="gallery-container-single" style="height: 240px;">
            
            <img class="carpet-gallery-picture-center" src="~/Content/images/IMG_0152.JPG" />
        </div>
    </div>
</div>
